* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

table {
	border-collapse: collapse;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scrol;
}

ul {
	margin: 0;
	padding: 0;
}

/* bootstrap-coustom */
.btn {
	border-radius: 0px;

	&:focus {
		outline: none;
		box-shadow: none; 
	}
}

input[type="text"], input[type="submit"] {
	border: none;

	&:focus {
		outline: none;
	}
}

// Coustom fonts
	@font-face {
	font-family: 'codelight';
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url("webfonts/Code-Light.eot");
	src: url("Code-Light.eot?#iefix") format("embedded-opentype"), url("webfonts/Code-Light.woff2") format("woff2"), url("webfonts/Code-Light.woff") format("woff"), url("webfonts/Code-Light.ttf") format("truetype"), url("webfonts/Code-Light.svg#code") format("svg"); }

	@font-face {
	font-family: 'codebold';
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: url("webfonts/Code-Bold.eot");
	src: url("Code-Bold.eot?#iefix") format("embedded-opentype"), url("webfonts/Code-Bold.woff2") format("woff2"), url("webfonts/Code-Bold.woff") format("woff"), url("webfonts/Code-Bold.ttf") format("truetype"), url("webfonts/Code-Bold.svg#code") format("svg"); }

/* powerby 
	sabbir  */