/***********************
	color
 *************************/
$red: #e84f88;
$black: #5b3f61;
$bark_black: #919191;

/***********************
	font-family
 *************************/
$karla: 'Karla', sans-serif;
$cbold:  'codebold', sans-serif;
$clight:  'codelight', sans-serif;

 /***********************
	heading
 *************************/

 


