/*************************
	Base style
*************************/
	@import "base"; /* base */
	@import "extend"; /* extend */
	@import "mixin"; /* mixin */

	// Container width
	.container {
		max-width: 1204px;
	}

	// Color
	$red: #e84f88;
	$black: #5b3f61;
	$dark_black: #919191;
	
	// Font
	$karla: 'Karla', sans-serif;
	$cbold:  'codebold', sans-serif;
	$clight:  'codelight', sans-serif;

	// Body
	body * {
		font-family: $karla;
	} 

	// background images
	.header-slider {background-image: url('images/img/hero-bg.jpg');}

	.bg-1 {background-image: url('images/img/model-1.png');}
	.bg-2 {background-image: url('images/img/model-2.png');}
	.bg-3 {background-image: url('images/img/model-3.png');}
	.bg-4 {background-image: url('images/img/model-4.png');}
	.bg-5 {background-image: url('images/img/model-5.png');}
	.bg-6 {background-image: url('images/img/model-6.png');}
	.bg-7 {background-image: url('images/img/model-7.png');}
	.bg-8 {background-image: url('images/img/model-8.png');}
	.bg-9 {background-image: url('images/img/model-9.png');}
	.bg-9 {background-image: url('images/img/model-9.png');}
	.bg-10 {background-image: url('images/img/model-10.png');}

	 

/*************************
	popup overly
*************************/
.show-overly {
	opacity: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	position: fixed;
	background: #000;
	@include transition(all .3s ease);

	&.active {
		z-index: 9;
		opacity: .7;
	}
}
/*************************
	search-bar
*************************/
.search-bar {
	left: 0;
	right: 0;
	top: -235px;
	z-index: 999;
	margin-top: -228px;
	position: absolute;
	@include transition(all .4s ease);

	&.active {
		top: 0;
		margin-top: 30px;
	}

	.content {
		padding: 80px 0;
		background: $red;

		input[type="text"] {
			width: 40%;
			background: #F4EAE8;
			border-radius: 50px;
			padding: 10px 51px 10px 20px;
		} 

		a {

			.fa-search {
				top: 56%;
				right: 390px;
				font-size: 20px;
				margin-top: -25px;
				line-height: 30px;
				position: absolute;
			}
		}

		.close-btn {
			right: 42px;
			top: 2%;
			position: absolute;

			.search-close {
				float: right;
				margin: 0;
			    border: 0;
			    padding: 0;
			    width: 25px;
			    display: block;
			    border-radius: 0;
			    background: transparent;

			    span.bar-menu:first-child {
			        transform: translateY(12px) rotate(45deg);
			    }

			    span.bar-menu:last-child {
			        transform: translateY(-16px) rotate(-45deg);
			    }

				span.bar-menu {
			        height: 4px;
			        width: 100%;
			        display: block;
			        border-radius: 0;
			        background-color: $black; 

			        &:nth-child(2) {
			        	opacity: 0;
			        }
			        &:not(:last-child) { 
			        	margin: 10px 0;
			        }
				}

		   		&:focus {

			    	outline: none;
			    }

			}
		}
	}
}
/*************************
	header
*************************/
.header {
	padding: 31px 0;

	.navbar {
		padding-top: 0;
		padding-bottom: 0;

		.navbar-header {

			.navbar-menu {

 				.navbar-toggler {

					margin: 0;
				    border: 0;
				    padding: 0;
				    width: 25px;
				    display: inline;
				    border-radius: 0;
				    background: transparent;

					span.bar-menu {

				        width: 100%;
				        height: 4px;
				        display: block;
				        border-radius: 0;
				        background-color: $red; 
				        @include transition(all 0.3s ease);

				        &:nth-child(2) {
				        	width: 15px;
				        }

				        &:nth-child(3) {
				        	width: 20px;
				        }

				        &:not(:last-child) {
				        	margin-bottom: 7px;
				        }
				    }

				    &:hover { 

			            span:nth-child(2) { 
			            	width: 20px;
			            }

			            span:last-child {
			            	width: 15px;
			       		} 
			   		}

			   		&:focus {

				    	outline: none;
				    }
				}

				ul {
					float: right;
					margin-left: 54px;

					li {
						display: inline;

						&:not(:last-child) {
							margin-right: 50px;
						}

						a {
							color: $black;
							font-size: 13px;
							font-weight: 700;

							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		.navbar-nav {

			margin-left: -10px;
			margin-right: -10px;

			li {

				padding-left: 10px;
				padding-right: 10px;

				a {
					color: $black;
					font-size: 13px;
					font-weight: 700;

					&:hover {
						text-decoration: none;
					}
				}

				.fa-search {
					padding-left: 10px;
					margin-right: 10px;

				}

				.user { 
					
					img {
						width: 36px;
						height: 36px;
						margin-top: -3px;
					}
				}
			}
		}
	}
}
/*************************
	sidr mobile-menu 
*************************/
.sidr {
	display: block ;
	background: #f1f1f1;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 26%);


	.sidr-inner {

		.mobile-menu {
			display: block !important;

			.menu-header {
				padding: 11px 17px 55px;	
				box-shadow: 0px 0px 15px rgb(0 0 0 / 6%);

				.logo {

					.sidr-close {
						float: right;
						margin: 0;
					    border: 0;
					    padding: 0;
					    width: 25px;
					    display: block;
					    border-radius: 0;
					    background: transparent;

					    span.bar-menu:first-child {
					        transform: translateY(12px) rotate(45deg);
					    }

					    span.bar-menu:last-child {
					        transform: translateY(-16px) rotate(-45deg);
					    }

						span.bar-menu {
					        height: 4px;
					        width: 100%;
					        display: block;
					        border-radius: 0;
					        background-color: $red; 

					        &:nth-child(2) {
					        	opacity: 0;
					        }
					        &:not(:last-child) { 
					        	margin: 10px 0;
					        }
						}

				   		&:focus {

					    	outline: none;
					    }

					}
				}
			}

			.menu {

				.navbar-nav {
					 border: none;
					 margin: -14px 0;
					 margin-top: -5px;
					li {  
						border-bottom: 1px solid rgba(221, 221, 221, 0.3) !important;
						padding: 14px 0;
						border: none;

						a {  
							color: $black;
							font-size: 13px;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}
/*************************
	header-slider
*************************/
/* .header-slider {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.homepage-slider {
		height: 100%;

		.slider-item {
			height: 100%;	

			img {
				left: 50%;
				right: 0;
				bottom: 0;
				width: 725px;
				position: absolute;
				margin-left: -362.5px;
			}

			.text-table {
				height: 100%;
				width: 100%;
				height: 100%;
				display: table;

				.text-table-cell {
					z-index: 1;
					height: 100%;
					padding-left: 25%;
					position: relative;
					display: table-cell;
					vertical-align: middle;

					p {
						color: $red;
						font-size: 120px;
						line-height: 105px;
						font-family: $clight;
					}

					.red {
						font-style: italic;
						font-family: $cbold;
					}

					.blue {
						color: #6DB0C6;
					}
				}
			}
		}
	}
} */


/*************************
	seasons
*************************/
.seasons {

	.seasons-list {

		ul {

			li {
				width: 34%;
				float: left;
				height: 314px;
				background: #ECF3E8;
				@include transition(all .3s ease);

				&:nth-child(2) {
					width: 16%;
					background: #F1E5E5;

					a {
						color: $red;
						font-family: $cbold;
					}
				}

				&:nth-child(3) {
					width: 16%;
					background: #F6F3E6;
				}

				&:nth-child(4) {
					text-align: left;
					padding-left: 45px;
					background: #ECF4F5;
				}

				&:hover {
					opacity: .8;
				}

				a {
					display:block;
					color: $black;
					font-size: 48px;
					padding-top: 214px;
					padding-right: 45px;
					font-family: $clight;
					padding-bottom: 55px;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}
/*************************
	product-area
*************************/
.product-area {
	width: 100%;
	margin: 135px 0;
	display: inline-block;

	.product-list {
		margin-bottom: 35px;

		.single-item {
			width: 20%;
			height: 305px;
			margin-bottom: 20px;
			background-color: #F5F0EF;
			background-repeat: no-repeat;
			background-position: center bottom;

			&:hover {

				&:after{
					opacity: 0.5;
				}

				.favarate-link {
					z-index: 2;
					position: relative;
					
					a {
						color: #fff;
					}
				}

				.item-hover {
					opacity: 1;

					a {
						margin-top: -13px;
					}
				}
			}

			&:after {
				top: 0;
				opacity: 0;
				content: "";
				z-index: 1;
				width: 100%;
				height: 100%;
				position: absolute;
				background: #97C6D5;
				@include transition(all .3s ease);
			}

			&:nth-child(2) { 
				width: 78%;
				height: 630px;
				margin-left: 2%;
			}

			&:nth-child(3){
				background-color: #E4EBEB;
			}

			&:nth-child(4){
				width: 56%;
				background-color: #F0EFEA;
			}

			&:nth-child(5){
				margin-left: -2%;
			}

			&:nth-child(6){
				background-color: #F0F4F2;
			}

			&:nth-child(7){
				background-color: #F0F4F2;
			}

			&:nth-child(8){
				margin-left: 2%;
				background-color: #F0F4F2;
			}

			&:nth-child(9){
				width: 34%;
				margin-left: -16%;
				background-color: #F3EBF2;
			}

			&:nth-child(10){ 
				background-color: #EFEFE9;
			}
			 
			.favarate-link {
				float: right;
				padding-top: 13px;
				padding-right: 13px;
				display: inline-block;
				@include transition(all .3s ease);

				a {
					color: $black;
					font-size: 20px;
					margin-right: 7px;
				}
			}

			.item-hover {
				opacity: 0;

				a {
					top: 50%;
					left: 50%;
					z-index: 9;
					color: #fff;
					font-size: 16px;
					font-weight: 700;
					line-height: 26px;
					margin-top: -50px;
					padding: 7px 19px;
					margin-left: -40px;
					position: absolute;
					border: 2px solid #fff;
					@include transition(all .3s ease);

					&:hover {
						text-decoration: none;
					}
				}

				.hover-bottom {
					bottom: 0;
					z-index: 9;
					width: 100%;
					background: #fff;
					padding-top: 15px;
					position: absolute;
					@include transition(all .3s ease);

					.title {
						color: $black;
						font-size: 16px;
						font-weight: 700;
					}

					p {
						color: #89838a;
						font-size: 14px;
						font-weight: 700;

						.right-border {
							width: 1px;
							height: 13px;
							margin: 0px 13px;
							background: #908A91;
							margin-bottom: -2px;
							display: inline-block;
						}

						span {
							width: 10px;
							height: 10px;
							display: inline-block;
							border: 1px solid #D9D4DA;

							&:not(:last-child) {
								margin-right: 8px;
							}
						} 

						.red {
							background: #EE4A4A;
						}

						.blue {
							background: #99E4E7;
						}
					}

					.price {
						right: 0;
						top: 16px;
						color: $red;
						line-height: 30px;
						font-size: 20px;
						font-weight: 700;
						position: absolute;
					}
				}
			}
		}
	}

	a.load-more {
		color: $red;
		display: block;
		font-size: 16px;
		padding: 39px 0;
		font-weight: 700; 
		text-align: center;
		background: #F9F9F8;

		&:hover {
			text-decoration: none;
		}
	}
}
/*************************
	trends-area
*************************/
.trends-area {
	margin-bottom: 170px;

	.slick-slider {

		.slick-dots {
			top: 41%;
			right: -92%;
			position: absolute;

			.slick-active {
				background: #E84F88;
				@include transition ( all .3s ease);
			}

			li {
				width: 12px;
				height: 12px;
				display: block;
				background: #D3CECE;
				border-radius: 50px;

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				button {
					&:before {
						content: "";
					}
				}				
			}
		}

		.col-5 {
			float: left;
			display: inline;
			background-color: #F4F0F0;

			.trends-bg {
				height: 490px;

				.media {
					left: 50%;	
					bottom: 0;
					position: absolute;
					margin-left: -173.3px;	

					img {

					}
				}
			}
		}

		.col-7	{
			float: right;
			display: inline;
			background-color: #F8F5F5;

			.enty-title {
				padding: 65px 85px 45px 61px;

				h1 {
					color: $red;
					font-size: 36px;
					line-height: 46px;
					font-family: $clight;
				}

				.bold {
					font-family: $cbold;
				}

				.year {
					top: 15%;
					right: 33%;
					opacity: .1;
					color: #51abc8;
					font-size: 110px;
					line-height: 140px;
					position: absolute;
					font-family: $cbold;
				}

				.description {
					color: #786b7a;
					font-size: 16px;
					margin-top: 35px;
					font-weight: 400;
					line-height: 30px;
				}

				.btn {
					color: #fff;
					font-size: 16px;
					font-weight: 700;
					margin-top: 37px;
					padding: 5px 28px;
					background: #51ABC8;

				}
			}
		}
	}
}
/*************************
	footer
*************************/
.footer {
	padding: 54px 0;
	margin-top: 34px;
	background-color: #F4F4F4;

	.wedget {
		color: $dark_black;

		ul {

			li {
				display: inline;

				&:not(:last-child) {
					margin-right: 24px;
				}

				a {
					font-size: 15px;
					font-weight: 700;
					line-height: 27px;
					color: $dark_black;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		p {
			font-size: 14px;
		}
	}

	.widget-social {
		float: right;

		ul {
			text-align: right;
			margin-bottom: 14px;

			li {
				display: inline;

				&:not(:last-child) {
					margin-right: 24px;
				}

				a {
					color: #897e93;
					font-size: 15px;
				}
			}
		}

		.subscribe {

			input[type="text"] {
				color: #897e93;
				font-size: 14px;
				min-width: 253px;
				max-height: 36px;
				padding: 13px 25px 8px 19px;
			}

			input[type="submit"] {
				color: white;
				font-size: 16px;
				font-weight: 700;
				margin-top: -6px;
				background: $red;
				min-width: 123px;
				max-height: 36px;
			}
		}
	}
}


@import "responsive"; /* Responsive */
