/*************************
	Base style
*************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scrol;
}

ul {
  margin: 0;
  padding: 0;
}

/* bootstrap-coustom */
.btn {
  border-radius: 0px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

input[type=text], input[type=submit] {
  border: none;
}
input[type=text]:focus, input[type=submit]:focus {
  outline: none;
}

@font-face {
  font-family: "codelight";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("webfonts/Code-Light.eot");
  src: url("Code-Light.eot?#iefix") format("embedded-opentype"), url("webfonts/Code-Light.woff2") format("woff2"), url("webfonts/Code-Light.woff") format("woff"), url("webfonts/Code-Light.ttf") format("truetype"), url("webfonts/Code-Light.svg#code") format("svg");
}
@font-face {
  font-family: "codebold";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("webfonts/Code-Bold.eot");
  src: url("Code-Bold.eot?#iefix") format("embedded-opentype"), url("webfonts/Code-Bold.woff2") format("woff2"), url("webfonts/Code-Bold.woff") format("woff"), url("webfonts/Code-Bold.ttf") format("truetype"), url("webfonts/Code-Bold.svg#code") format("svg");
}
/* powerby 
	sabbir  */
/* base */
.ex-title {
  margin: 15px 0;
  font-size: 40px;
  font-family: "Hachi Maru Pop", cursive;
}

/* extend */
/* mixin */
.container {
  max-width: 1204px;
}

body * {
  font-family: "Karla", sans-serif;
}

.header-slider {
  background-image: url("images/img/hero-bg.jpg");
}

.bg-1 {
  background-image: url("images/img/model-1.png");
}

.bg-2 {
  background-image: url("images/img/model-2.png");
}

.bg-3 {
  background-image: url("images/img/model-3.png");
}

.bg-4 {
  background-image: url("images/img/model-4.png");
}

.bg-5 {
  background-image: url("images/img/model-5.png");
}

.bg-6 {
  background-image: url("images/img/model-6.png");
}

.bg-7 {
  background-image: url("images/img/model-7.png");
}

.bg-8 {
  background-image: url("images/img/model-8.png");
}

.bg-9 {
  background-image: url("images/img/model-9.png");
}

.bg-9 {
  background-image: url("images/img/model-9.png");
}

.bg-10 {
  background-image: url("images/img/model-10.png");
}

/*************************
	header
*************************/
.show-overly {
  opacity: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  position: fixed;
  background: #000;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.show-overly.active {
  z-index: 9;
  opacity: 0.7;
}

.search-bar {
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: -228px;
  position: absolute;
  transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -khtml-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.search-bar.active {
  margin-top: 30px;
}
.search-bar .content {
  padding: 80px 0;
  background: #e84f88;
}
.search-bar .content input[type=text] {
  width: 40%;
  background: #F4EAE8;
  border-radius: 50px;
  padding: 10px 51px 10px 20px;
}
.search-bar .content a .fa-search {
  top: 56%;
  right: 390px;
  font-size: 20px;
  margin-top: -25px;
  line-height: 30px;
  position: absolute;
}
.search-bar .content .close-btn {
  right: 42px;
  top: 2%;
  position: absolute;
}
.search-bar .content .close-btn .search-close {
  float: right;
  margin: 0;
  border: 0;
  padding: 0;
  width: 25px;
  display: block;
  border-radius: 0;
  background: transparent;
}
.search-bar .content .close-btn .search-close span.bar-menu:first-child {
  transform: translateY(12px) rotate(45deg);
}
.search-bar .content .close-btn .search-close span.bar-menu:last-child {
  transform: translateY(-16px) rotate(-45deg);
}
.search-bar .content .close-btn .search-close span.bar-menu {
  height: 4px;
  width: 100%;
  display: block;
  border-radius: 0;
  background-color: #5b3f61;
}
.search-bar .content .close-btn .search-close span.bar-menu:nth-child(2) {
  opacity: 0;
}
.search-bar .content .close-btn .search-close span.bar-menu:not(:last-child) {
  margin: 10px 0;
}
.search-bar .content .close-btn .search-close:focus {
  outline: none;
}

.header {
  padding: 31px 0;
}
.header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.header .navbar .navbar-header .navbar-menu .navbar-toggler {
  margin: 0;
  border: 0;
  padding: 0;
  width: 25px;
  display: inline;
  border-radius: 0;
  background: transparent;
}
.header .navbar .navbar-header .navbar-menu .navbar-toggler span.bar-menu {
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 0;
  background-color: #e84f88;
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.header .navbar .navbar-header .navbar-menu .navbar-toggler span.bar-menu:nth-child(2) {
  width: 15px;
}
.header .navbar .navbar-header .navbar-menu .navbar-toggler span.bar-menu:nth-child(3) {
  width: 20px;
}
.header .navbar .navbar-header .navbar-menu .navbar-toggler span.bar-menu:not(:last-child) {
  margin-bottom: 7px;
}
.header .navbar .navbar-header .navbar-menu .navbar-toggler:hover span:nth-child(2) {
  width: 20px;
}
.header .navbar .navbar-header .navbar-menu .navbar-toggler:hover span:last-child {
  width: 15px;
}
.header .navbar .navbar-header .navbar-menu .navbar-toggler:focus {
  outline: none;
}
.header .navbar .navbar-header .navbar-menu ul {
  float: right;
  margin-left: 54px;
}
.header .navbar .navbar-header .navbar-menu ul li {
  display: inline;
}
.header .navbar .navbar-header .navbar-menu ul li:not(:last-child) {
  margin-right: 50px;
}
.header .navbar .navbar-header .navbar-menu ul li a {
  color: #5b3f61;
  font-size: 13px;
  font-weight: 700;
}
.header .navbar .navbar-header .navbar-menu ul li a:hover {
  text-decoration: none;
}
.header .navbar .navbar-nav {
  margin-left: -10px;
  margin-right: -10px;
}
.header .navbar .navbar-nav li {
  padding-left: 10px;
  padding-right: 10px;
}
.header .navbar .navbar-nav li a {
  color: #5b3f61;
  font-size: 13px;
  font-weight: 700;
}
.header .navbar .navbar-nav li a:hover {
  text-decoration: none;
}
.header .navbar .navbar-nav li .fa-search {
  padding-left: 10px;
  margin-right: 10px;
}
.header .navbar .navbar-nav li .user img {
  width: 36px;
  height: 36px;
  margin-top: -3px;
}

/*************************
	sidr mobile-menu 
*************************/
.sidr {
  display: block;
  background: #f1f1f1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
}
.sidr .sidr-inner .mobile-menu {
  display: block !important;
}
.sidr .sidr-inner .mobile-menu .menu-header {
  padding: 11px 17px 55px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
}
.sidr .sidr-inner .mobile-menu .menu-header .logo .sidr-close {
  float: right;
  margin: 0;
  border: 0;
  padding: 0;
  width: 25px;
  display: block;
  border-radius: 0;
  background: transparent;
}
.sidr .sidr-inner .mobile-menu .menu-header .logo .sidr-close span.bar-menu:first-child {
  transform: translateY(12px) rotate(45deg);
}
.sidr .sidr-inner .mobile-menu .menu-header .logo .sidr-close span.bar-menu:last-child {
  transform: translateY(-16px) rotate(-45deg);
}
.sidr .sidr-inner .mobile-menu .menu-header .logo .sidr-close span.bar-menu {
  height: 4px;
  width: 100%;
  display: block;
  border-radius: 0;
  background-color: #e84f88;
}
.sidr .sidr-inner .mobile-menu .menu-header .logo .sidr-close span.bar-menu:nth-child(2) {
  opacity: 0;
}
.sidr .sidr-inner .mobile-menu .menu-header .logo .sidr-close span.bar-menu:not(:last-child) {
  margin: 10px 0;
}
.sidr .sidr-inner .mobile-menu .menu-header .logo .sidr-close:focus {
  outline: none;
}
.sidr .sidr-inner .mobile-menu .menu .navbar-nav {
  border: none;
  margin: -14px 0;
  margin-top: -5px;
}
.sidr .sidr-inner .mobile-menu .menu .navbar-nav li {
  border-bottom: 1px solid rgba(221, 221, 221, 0.3) !important;
  padding: 14px 0;
  border: none;
}
.sidr .sidr-inner .mobile-menu .menu .navbar-nav li a {
  color: #5b3f61;
  font-size: 13px;
  font-weight: 700;
}

/*************************
	footer
*************************/
.footer {
  padding: 54px 0;
  margin-top: 34px;
  background-color: #F4F4F4;
}
.footer .wedget {
  color: #919191;
}
.footer .wedget ul li {
  display: inline;
}
.footer .wedget ul li:not(:last-child) {
  margin-right: 24px;
}
.footer .wedget ul li a {
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
  color: #919191;
}
.footer .wedget ul li a:hover {
  text-decoration: none;
}
.footer .wedget p {
  font-size: 14px;
}
.footer .widget-social {
  float: right;
}
.footer .widget-social ul {
  text-align: right;
  margin-bottom: 14px;
}
.footer .widget-social ul li {
  display: inline;
}
.footer .widget-social ul li:not(:last-child) {
  margin-right: 24px;
}
.footer .widget-social ul li a {
  color: #897e93;
  font-size: 15px;
}
.footer .widget-social .subscribe input[type=text] {
  color: #897e93;
  font-size: 14px;
  min-width: 253px;
  max-height: 36px;
  padding: 13px 25px 8px 19px;
}
.footer .widget-social .subscribe input[type=submit] {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: -6px;
  background: #e84f88;
  min-width: 123px;
  max-height: 36px;
}

/************************* 
	Media Queries
*************************/
@media only screen and (min-width: 1800px) {
  /*************************
  	Home Style
  *************************/
}
/* 1800px */
@media only screen and (max-width: 1800px) {
  /*************************
  	Home Style
  *************************/
}
/* 1800px */
@media only screen and (max-width: 1600px) {
  /*************************
  	Home Style
  *************************/
}
/* 1600px */
@media only screen and (max-width: 1460px) {
  /*************************
  	Home Style
  *************************/
}
/* 1460px */
@media only screen and (max-width: 1366px) {
  /*************************
  	Home Style
  *************************/
}
/* 1366px */
@media only screen and (max-width: 1199px) {
  /*************************
  	Home Style
  *************************/
}
/* 1199px */
@media only screen and (max-width: 991px) {
  /*************************
  	Home Style
  *************************/
}
/* 991px */
@media only screen and (max-width: 767px) {
  /*************************
  	Home Style
  *************************/
}
/* 767px */
@media only screen and (max-width: 680px) {
  /*************************
  	Home Style
  *************************/
}
/* 680px */
@media only screen and (max-width: 575px) {
  /*************************
  	Home Style
  *************************/
}
/* 575px */
@media only screen and (max-width: 480px) {
  /*************************
  	Home Style
  *************************/
}
/* 480px */
@media only screen and (max-width: 380px) {
  /*************************
  	Home Style
  *************************/
}
/* 380px */
/* Responsive */